<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmileMaker Dental</title>
    <link rel="icon" type="image/x-icon" href="/image/favicon.png">
    <link rel="stylesheet" href="homepageStyle.css">
    
</head>
<body>
    <div class="navigation-container">
        <div class="logo-section">
            <div class="logo">
               <a class="navbar-logo" href="#">
                <img src="image/logoWithoutName.png" alt="Logo" style="width:40px;" class="rounded-pill">
            </a>
            </div>
            <div class="name">SMILEMAKER</div>
        </div>
        
        <div class="navigation-bar">
            <nav> 
                <a href="#Home">Home</a>
                <a href="#Service">Services</a>
                <a href="#AboutUs">About Us</a>
                <a href="#ContactUs">Contact Us</a>
            </nav>
        </div>
        
        <div class="action-buttons">
            <button class="btn btn-outline">Login</button>
        </div>
    </div>
    
    <section>
        
    </section>
    
    
</body>
</html>