* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;

}

body {
    background: #e9eaed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
/*navigation bar*/
.navigation-container {
    width: 100%;
    max-width: 1300px;
    background: white;
    border-radius: 12px;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 10px;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
}

.logo {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    font-size: 22px;
    font-weight: 700;
    color: Black;
    white-space: nowrap;
}

/* Main nav bar layout */
.navigation-bar ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

/* Nav links */
.navigation-bar a, .dropbtn {
    text-decoration: none;
    color: #334155;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 8px;
    transition: all 0.3s ease;
    position: relative;
    white-space: nowrap;
    display: block;
}

.navigation-bar a:hover, .dropbtn:hover {
    color: white;
    background-color: #2a368e;
}

/* Dropdown container */
.dropdown {
    position: relative;
}

/* Hidden dropdown menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 220px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    border-radius: 8px;
    top: 100%;
    left: 0;
    padding: 8px 0;
    z-index: 999;
}

/* Dropdown links */
.dropdown-content a {
    color: #334155;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    border-bottom: 1px solid #f1f5f9;
    transition: all 0.2s ease;
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content a:hover {
    background-color: #f1f5f9;
    color: #2a368e;
    padding-left: 25px;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}



.action-button{
    display: flex;
    gap: 15px;
    flex-shrink: 0;
}

.btn {
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.outlineBtn {
    background: transparent;
    color:#2a368e;
    border: 2px solid #2a368e;
}

.outlineBtn:hover {
    background: #2a368e;
    color: white;
}

/* Footer */
.footer {
    width: 100%;
    background: #2a368e;
    color: white;
    padding: 40px 20px 20px;
    margin-top: auto;
}

.footer-container {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    padding-left: 70px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
}

.footer-logo img {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}


.footer-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.footer-intro {
    margin-bottom: 20px;
    line-height: 1.6;
    color: white;
    margin-top: 10px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #38bdf8;
}

.footer-contact p {
    margin: 4px 0;
    font-size: 15px;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #cbd5e1;
    padding-top: 15px;
}

/*Secvice detail page*/
.service-header {
    position: relative;
    color: black;
    text-align: center;
    padding: 100px 20px;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
}

.service-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(3px);
    z-index: -1;
}

.checkup-header::before{
    background: url("/clinic_appointment_system/view/image/dental-checkup-header.jpg") no-repeat center center;
    background-size: cover;
}

.whitening-header::before{
    background: url("/clinic_appointment_system/view/image/whitening-header.jpg") no-repeat center center;
    background-size: cover;
}
.braces-header::before{
    background: url("/clinic_appointment_system/view/image/braces.jpg") no-repeat center center;
    background-size: cover;
}

.dentures-header::before{
    background: url("/clinic_appointment_system/view/image/dentures-header.jpg") no-repeat center center;
    background-size: cover;
}
.filling-header::before{
    background: url("/clinic_appointment_system/view/image/filling-header.jpg") no-repeat center center;
    background-size: cover;
}
.cleaning-header::before{
    background: url("/clinic_appointment_system/view/image/cleaning-header.jpg") no-repeat center center;
    background-size: cover;
}
.canal-header ::before{
    background: url("/clinic_appointment_system/view/image/treatment-headers.jpg") no-repeat center center;
    background-size: cover;
}

.bridge-header ::before{
    background: url("/clinic_appointment_system/view/image/bridge-header.png") no-repeat center center;
    background-size: cover;
}
.extraction-header ::before{

}

.serviceHeader-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.service-header h1 {
    font-size: 2.8rem;
    margin-bottom: 20px;
}

.service-header p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto 30px;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

}

.apptBtn {
    background: #2a368e;
    color: white;
    text-decoration: none;
    padding: 15px;
}

.apptBtn:hover {
    background: #1c2561;
}

.consultBtn {
    background: white;
    color: #2a368e;
    text-decoration: none;
    padding: 15px;
}

.consultBtn:hover {
    background: #f0f0f0;
}

/* Content Sections */
.content-section {
    background: white;
    border-radius: 15px;
    padding: 40px;
    margin: 20px 40px 40px 40px;

}

.section-title {
    color: #2a368e;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}

/* Two Column Layout */
.twocolContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.twocolContainer p {
    margin: 15px 0 10px 0;
    line-height: 25px;

}


.content-image {
    border-radius: 10px;
    overflow: hidden;
}

.content-image img {
    width: 100%;
    height: 400px;
    display: block;
}

/* Benefits List */
.benefits-list {
    list-style: none;
}

.benefits-list li {
    margin-bottom: 20px;
    padding-left: 40px;
    position: relative;
}

.benefits-list i {
    position: absolute;
    left: 0;
    top: 5px;
    color: #2a368e;
    font-size: 1.7rem;
    background: #F6F6F6;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Process Steps */
.process-steps {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 40px;
}

.bridge-process-steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 40px;
}

.step-card {
    background: #F6F6F6;
    padding: 25px;
    border-radius: 10px;
    text-align: center;

}

.numbers {
    background: #2a368e;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
    font-weight: bold;
    font-size: 30px;
}
/* Braces Showcase */
.optionsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin-top: 40px;
}

.fillingContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin-top: 40px;
}

.optionsCard {
    background: #F6F6F6;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.options-img {
    height: 250px;
    overflow: hidden;
}

.options-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.options-content {
    padding: 20px;
}

.options-content h3 {
    font-size: 20px;
    color: #2a368e;
    margin-bottom: 10px;
}

.options-content p {
    color: #666;
    font-size: 15px;
}
/* Comparison Table */
.option-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
}

.option-table th, .option-table td {
    padding: 15px 20px;
    text-align: left;
    border-bottom: 1px solid #e6f2ff;
}

.option-table th {
    background: #2a368e;
    color: white;
    font-weight: 600;
}

.option-tablee tr:last-child td {
    border-bottom: none;
}



